# Arquivos e pastas ignorados pelo Git

# Flutter e Dart
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions

# Android
android/.gradle/
android/app/debug/
android/app/release/
android/local.properties

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDEs
.idea/
.vscode/
*.iml

# Arquivos do sistema
.DS_Store
Thumbs.db
